@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import "footer";
@import "preguntas";
@import "registro";
@import "variables";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: "header1 header1 header1" "nav nav nav" "productos productos productos" "footer footer footer";
    grid-template-rows: 100px auto auto;
    grid-template-columns: auto auto 0;
    width: 100%;
    @if $fondo == rosa {
        background: linear-gradient(to bottom, #ffffff, #fee0ff, #ffa1fa);
    }
    @else if $fondo==verde {
        background: linear-gradient(to bottom, #31643d, #d6ffdb, #ffffff);
    }
    @else {
        background: linear-gradient(to bottom, #ffffff, #f7f7f7, #b4b4b4);
    }
}

header {
    grid-area: header1;
    width: 100%;
    height: 132px;
    position: sticky;
    background-color: gray;
}

.d-flex {
    justify-content: center;
    align-items: center;
    form {
           padding: 35px;
           width: 50vh;
           input {
                   text-align: center;
            }
    }
}

.titulo{
    display: flex;
    align-content: center;
    font-size: 30px;
    font-family: Bebas Neue;
    .tituloIcono{
    padding-left: 10px;
    }
}
.redsocial {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(184, 184, 184);
}

.fa-instagram {
    font-size: 20px;
    color: blueviolet;
}

.fa-facebook-square {
    font-size: 20px;
    padding-left: 10px;
}

.fa-whatsapp-square {
    font-size: 20px;
    color: green;
    padding-left: 10px;
}
/* Lista Navegacion */
nav {
    grid-area: nav;
}
.barraNav {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.username {
    padding: 20px;
  }
  
  .password {
    padding: 20px;
  }
  
  .modal-footer {
    text-align: center;
  }

/* Fin del header */

/* Contenido de inicio */

main {
    grid-area: productos;
}
 
/* Carrusel */
.mycarousel__img {
    width: 100%;
    height: ($alto/2)+150;
}

.carousel-control-prev-icon {
    position: relative;
    left: 50%;
}

.sec {
    width: 100%;
}

.carousel-indicators li {
    height: 5px;
    width: 20px;
}
/* Fin de Carrusel */

.contenidoHome {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
    h2{
        @if $ropa == pantalon {
            color: rgb(0, 99, 192);
        }
        @else if $ropa== camisa {
            color: rgb(0, 0, 0);
        }
        @else {
            color: rgb(49, 49, 49); 
            font: $tittle-font;
        }
    }
}
.prendas {
    margin-top: 30px;
    width: 100%;
    display: flex;
    gap: 20px;
    padding-bottom: 50px;
    img{
        width: $ancho/2;
        }
        img:hover {
            transition: all 1s;
            transform: scale(1.1);
        }
        @for $in from 1 through 5 {
            .prenda-#{$in} {
                background-color: lighten($base-color, $in * 10%);
            }
        }
    }
.indumentaria {
    display: flex;
    flex-direction:column;
    padding: 20px 15px;
    box-shadow: $box-shadow-bottom-only;
    a { 
        background-color: $color-blue;
        border-radius: 20px;
        color: $color-black;
        padding: 10px 10px;
        font-family: 'Bebas Neue';
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 2px 2px;
    }
        h2 {
             font: $cont-font;
        }
        a:hover {
                  background-color: $color-gray;
                  color: #ffffff;
                  transition: all 1s;
        }
}

.contenido {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    img{
        width: 200px;
        }
        img:hover {
            transition: all 1s;
            transform: scale(1.2);
        }
    }
    .pagination {
        justify-content: center;
        .page-link{
            color: rgb(0, 0, 0);
            font-weight: 600;
            background-color: $color-pink;
        }
    }
    .categorias{
        gap: 20px;
    }
    
    .hombres-catalogo,
    .mujeres-catalogo,
    .niños-catalogo {
        list-style-type: none;
        img{
            width: $ancho;
        }
    }
    @each $categoria in hombres , mujeres , niños {
        .#{$categoria}-catalogo {
            border: 2px solid rgb(170, 170, 170);
            box-shadow: $box-shadow-bottom-only
        }
        
    }

/*  fin del home */

/* Comienzo de ofertas */

.imagenOferta {
    width: 100%;
}

.categoriasOfertas {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
    color: #212122;
    text-align: center;
    width: 100%;
}

.remera {
    width: 200px;
}

hr {
    margin: auto;
    width: 75%;
}

/* Inicio de tabla de talles */

.talles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 50px;
}

.remerasTalles {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #074874;
    text-align: center;
    padding: 20px 10px 20px;
}

.topTalles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    padding: 10px 10px 10px;
    li{
    padding-right: 5px;
    }
}

.medidasTalles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 20px 10px 20px;
    font-weight: bold;
    border: 1px solid rgb(0, 0, 0);
}

.contactos__h3 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
}

.remeraDiseño {
    width: 200px;
}
/* FIN tabla de talles */

.buttonWhatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}

@media only screen and (min-width: 375px) {
    body{
        display: block;
    }

    header{
        display: grid;
    }

    .categorias{
        display: inline-block;
    }
    .categorias img{
        width: 100%;
    }
    .barra{
        display: none
    }
    .prendas{
        display: block;

    }
}

@media only screen and (min-width: 768px) {
    body{
        display: block;
    }

    header{
        display: grid;
    }

    .categorias{
        display: flex;
    }
    .categorias img{
        width: 100%;
    }
    .barra{
        display: none
    }
    .prendas{
        margin-top: 30px;
         width: 100%;
         display: flex;
         gap: 20px;
         padding-bottom: 50px;
    }
    .indumentaria{
        display: flex;
        flex-direction:column;
        padding: 20px 15px;
        box-shadow: $box-shadow-bottom-only;
    }
    .indumentaria img{
        height: 100px;
        width: 100%;
    }

}



@media only screen and (min-width: 1024px) {
    body{
        display: grid;
    }

    header{
        display: grid;
    }

    .categorias{
        display: flex;
        justify-content: space-around;
    }
    .categorias img{
        width: 400px;
    }
    .barra{
        display: none
    }
    .prendas{
        margin-top: 30px;
         width: 100%;
         display: flex;
         gap: 20px;
         padding-bottom: 50px;
    }
    .indumentaria{
        display: flex;
        flex-direction:column;
        padding: 20px 15px;
        box-shadow: $box-shadow-bottom-only;
    }
    .indumentaria img{
        height: 200px;
        width: 200px;
    }

}
